nav {
  background-color: #384B70;
  padding: 25px;
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  gap: 50px;
  max-width: 200px;
}

a {
  color: white;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}