/* You can add global styles to this file, and also import other style files */
h1 {
    margin: 0;
}

p {
    margin: 0;
}

body, html {
    background-color: #FCFAEE;
    margin: 0;
    padding: 0;
}

.main {
    padding: 20px;
}
